.header1,
main,
.aside1,
footer,
.nav1,
section,
div,
img,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    box-sizing: border-box;
    /* border: 1px solid black; */
    background-color: white;
    padding: 1rem;
}

.containerMainFooter,
body,
.aside1,
main,
footer,
section{
    padding: 0;
}

h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: white;
    justify-content: flex-start;
}

.header1,
main,
footer {
    width: 100%;
    text-align: center;
}

/* BARRE DE NAVIGATION */

.aside1 {
    background-color: transparent;
    flex : 1;
    flex-basis: 20%;
    position: sticky;
    top: 0px;
    height: 100vh;
    margin-top: -3000px;
    padding: 0;
    border: 1rem solid transparent;
}
main {
    flex: 11;
    display: flex;
    flex-wrap: wrap;
}

.imgProfil {
    display: inline-block;
    width: 195px;
    height: 195px;
    border-radius: 100%;
    padding: 0px;
    vertical-align: middle;
    object-fit: cover;
}

.te {
    text-decoration: none;
    color: black;
    border-radius: 100%;
}
.nav1 {
    text-align: center;
    margin: auto;
    width: 100%;
    top: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lienNav {
    text-decoration: none;
    color: black;
    margin: 0 auto;
}
.lienNav:hover {
    background: black;
    color: white;
    width: 227px;
}
.iconLinkedin {
    text-decoration: none;
    color: #0077B7;
    border: transparent;
    padding: 0px;
}
.iconLinkedin:hover {
    background: #0077B7;
    color: white;
}
h4 {
    border: transparent;
    text-decoration: underline overline #0077B7;
    font-size: 1.1rem;
    margin: 0;
}

/* HEADER ET IMAGE */

.header1 {
    background-image: url("../img/frontend/header-portfolio.jpg");
    background-size: cover;
    background-position: center;
    height:100vh;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    /* margin-top: -493px; */
}

.textHeader {
    background: transparent;
    font-size: 1.5rem;
    /* text-align: center; */
}

.inv {
    min-width: 291px;
    background-color: transparent;
    flex : 1;
    flex-basis: 20%;
    position: sticky;
    height: 100vh;
    padding: 0;
    border: 1rem solid transparent;
}

.head1 {
    background-color: transparent;
    flex: 11;
}

/* MAIN */
h2 {
    width: 100%;
    /* padding-bottom: 0; */
    /* margin-bottom: 0; */
}

.containerMainFooter {
    flex: 11;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* flex-wrap: wrap */
}

#presentation {
    display: flex;
    flex-wrap: wrap;
}

.divItem {
    width: 30%;
    /* margin: 0.5rem; */
    flex: 1;
    flex-basis: 300px;
    text-align: center;
}
.siteItem {
    display: flex;
    flex-wrap: wrap;
}
.imgSite {
    width: 100%;
    display: block;
    object-fit: cover;
}
/* FOOTER */

.sectionFooter {
    display: flex;
    flex-wrap: wrap;
}

#wrap {
    font-family: sans-serif;
    font-size: 21px;
    line-height: 1.6;
    margin: 0;
    display: flex;
    color: #f00;
    transition: transform .4s cubic-bezier(.25, .1, .25, 1);
  }

  #wrap:not(:target) {
    transform: translate3d(-335px, 0, 0);
  }

  #wrap:target {
    transform: translate3d(0, 0, 0);
  }

  #open,
  #close {
    height: 44px;
    text-align: right;
    display: block;
    margin-right: -30px;
  }

  #wrap:target #open,
  #wrap:not(:target) #close {
    display: none;
  }

  #wrap:target #open {
    display: none;
  }

.message {
    background-color: transparent;
}
