html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/* BODY */

body {
    font-family: 'Source Code Pro', monospace;
}

li a {
    padding: 0;
}

header,
main,
aside,
footer,
nav,
div,
img,
form,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    box-sizing: border-box;
    background-color: white;
    padding: 1rem;
}

.containerMainFooter,
body,
aside,
main,
footer,
img,
form {
    padding: 0;
}

/* div {
    padding-right: 1rem;
} */

h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: white;
    justify-content: flex-start;
}

main,
footer {
    min-width: 100%;
    text-align: center;
}

/* HEADER ET IMAGE */

header {
    background-image: url("../img/frontend/header-portfolio.jpg");
    background-size: cover;
    background-position: center;
    height:100vh;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    min-width: 100%;
}

.textHeader {
    background: transparent;
    font-size: 1.5rem;
}

.head1 {
    background-color: transparent;
    flex: 11;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre {
    background-color: transparent;
}

.bordure {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

button:focus {
    outline: none;
    }

/* MAIN */

main {
    flex: 11;
    display: flex;
    flex-wrap: wrap;
}

section {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: white;
    padding: 0 1rem 0 0;
}

h2 {
    width: 100%;
}

.containerMainFooter {
    flex: 11;
}

.divItem {
    flex: 1;
    flex-basis: 450px;
    text-align: center;
    padding: 1rem 0px 1rem 1rem;
}

.divItem p {
    text-align: justify;
}

.imgSite {
    width: 100%;
    display: block;
    object-fit: cover;
}
/* FOOTER */

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: center;
}

input[type='text']:focus, input[type=email]:focus, textarea:focus{
    text-align:left;
    }

/* input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
} */

form {
    margin: 1rem;
    border-radius: 5px;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}

.imgtest {
    width: 100px;
    display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        padding: 0px;
        vertical-align: middle;
        object-fit: cover;
}

.te2 {
    padding: 8px;
    border-radius: 100%;
    border: 1px solid transparent;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    background: black;
    color: white;
}

.iconLinkedin {
    text-decoration: none;
    color: #0077B7;
    border: transparent;
    padding: 0;
}

.iconLinkedin:hover {
    background: #0077B7;
    color: white;
}

.nav {
    width: 100%;
    margin: 0;
}

.linkedin {
    border: transparent;
    text-decoration: underline #0077B7;
    font-size: 1.1rem;
    padding: 8px;
}

@media screen and (max-width: 799px), (max-height: 514px) {
    aside,nav, .inv, .imgProfil {
        position: absolute;
        top: -1000px;
    }

}
@media screen and (min-width: 576px) and (max-width: 799px), (max-height: 514px) and (min-width: 576px) {
    .iconLinkedin {

        border-radius: 4px;
    }
/*
    .iconLinkedin:hover {
        background: #0077B7;
        color: white;

    } */

}

@media screen and (min-width: 800px) and (min-height: 515px) {

    /* Invisibilité de la nav top en dessus de 800px de large et 515 px de haut */

    .navInv {
        position: absolute;
        top: -300px;
    }

    /* HEADER */

    .inv {
        min-width: 291px;
        max-width: 350px;
        background-color: transparent;
        flex : 1;
        flex-basis: 20%;
        position: sticky;
        height: 100vh;
        padding: 0;
        border: 1rem solid transparent;
    }

    /* BARRE DE NAVIGATION */

    aside {
        background-color: transparent;
        flex : 1;
        flex-basis: 20%;
        position: sticky;
        top: 0px;
        height: 100vh;
        margin-top: -3000px;
        border: 1rem solid transparent;
        max-width: 350px;
        border-right: 0;
    }

    .imgProfil {
        display: inline-block;
        width: 195px;
        height: 195px;
        border-radius: 100%;
        padding: 0px;
        vertical-align: middle;
        object-fit: cover;
    }

    .te {
        text-decoration: none;
        color: black;
        border-radius: 100%;
    }
    nav {
        text-align: center;
        margin: auto;
        width: 100%;
        top: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .lienNav {
        text-decoration: none;
        color: black;
        margin: 0 auto;
    }

    .lienNav:hover {
        text-decoration: none;
        background: black;
        color: white;
        width: 227px;
    }

    .iconLinkedin {
        text-decoration: none;
        color: #0077B7;
        border: transparent;
        padding: 0px;
    }

    .iconLinkedin:hover {
        background: #0077B7;
        color: white;
    }

    h4 {
        border: transparent;
        text-decoration: underline overline #0077B7;
        font-size: 1.1rem;
        margin: 0;
    }
}

@media screen and (max-width: 575px) {
    .nav-burger-link {
        text-align: center;
    }
    #navbarTogglerDemo01 {
        background-color: transparent;
    }
    .nav-link {
        line-height: 1;
    }
    .navbar {
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .butP {
        position: absolute;
        top: 8px;
        left: 16px;
        z-index: 1;
    }
    .nav-link {
        margin: 0 auto;
    }
    .nav-link:hover {
        width: 227px;
    }

    /* .uu {
        display: none;
    } */
}
