/* BODY */

header,
main,
aside,
footer,
nav,
div,
img,
form,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    box-sizing: border-box;
    background-color: white;
    padding: 1rem;
}

.containerMainFooter,
body,
aside,
main,
footer,
section{
    padding: 0;
}

h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: white;
    justify-content: flex-start;
}

header,
main,
footer {
    width: 100%;
    text-align: center;
}

/* HEADER ET IMAGE */

header {
    background-image: url("../img/frontend/header-portfolio.jpg");
    background-size: cover;
    background-position: center;
    height:100vh;
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.textHeader {
    background: transparent;
    font-size: 1.5rem;
}

.head1 {
    background-color: transparent;
    flex: 11;
}

/* MAIN */

main {
    flex: 11;
    display: flex;
    flex-wrap: wrap;
}

section {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: white;
    padding: 1rem;
}

h2 {
    width: 100%;
}

.containerMainFooter {
    flex: 11;
}

.divItem {
    flex: 1;
    flex-basis: 300px;
    text-align: center;
}

.imgSite {
    width: 100%;
    display: block;
    object-fit: cover;
}
/* FOOTER */

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form {
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

@media screen and (max-width: 799px) {
aside,nav, .inv, .imgProfil {
    position: absolute;
    top: -1000px;
}
}

@media screen and (min-width: 800px) {

    .testt {
        position: absolute;
        top: -200px;
    }

    /* HEADER */

    .inv {
        min-width: 291px;
        background-color: transparent;
        flex : 1;
        flex-basis: 20%;
        position: sticky;
        height: 100vh;
        padding: 0;
        border: 1rem solid transparent;
    }

    /* BARRE DE NAVIGATION */

    aside {
        background-color: transparent;
        flex : 1;
        flex-basis: 20%;
        position: sticky;
        top: 0px;
        height: 100vh;
        margin-top: -3000px;
        border: 1rem solid transparent;
    }

    .imgProfil {
        display: inline-block;
        width: 195px;
        height: 195px;
        border-radius: 100%;
        padding: 0px;
        vertical-align: middle;
        object-fit: cover;
    }

    .te {
        text-decoration: none;
        color: black;
        border-radius: 100%;
    }
    nav {
        text-align: center;
        margin: auto;
        width: 100%;
        top: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .lienNav {
        text-decoration: none;
        color: black;
        margin: 0 auto;
    }

    .lienNav:hover {
        background: black;
        color: white;
        width: 227px;
    }

    .iconLinkedin {
        text-decoration: none;
        color: #0077B7;
        border: transparent;
        padding: 0px;
    }

    .iconLinkedin:hover {
        background: #0077B7;
        color: white;
    }

    h4 {
        border: transparent;
        text-decoration: underline overline #0077B7;
        font-size: 1.1rem;
        margin: 0;
    }
}
